<div class="container">
  <h6 class="text-white mb-3">TOP LANÇAMENTOS</h6>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
          <div class="col-2">
            <img src="https://via.placeholder.com/600/92c952" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
